<%= form_with model: @team, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <%= form.select :users, :multiple => true %>

  <p>
    <%= form.submit %>
  </p>

<% end %>