<%= form_with model: @team, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <%= form.collection_select :user, User.order(:email), :id, :email, include_blank: true %>

  <p>
    <%= form.submit %>
  </p>

<% end %>