<%= form_with model: @task, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </p>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_field :comments %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.text_field :status %>
  </p>
  <p>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </p>
  <p>
    <%= form.label :due_date %><br>
    <%= form.date_field :due_date %>
  </p>
  <p>
    <%= form.label :estimation %><br>
    <%= form.text_field :estimation %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>