<%= form_with model: @task, local: true do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </p>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_field :comments %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, Task.statuses.keys.to_a%>
  </p>
  <p>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </p>
  <p>
    <%= form.label :due_date %><br>
    <%= form.date_field :due_date %>
  </p>
  <p>
    <%= form.label :estimation %><br>
    <%= form.select :estimation, Task.estimations.keys.to_a%>
  </p>
  <p>
    <%= form.label :user %><br>
    <%= form.collection_select :user_id, User.order(:email), :id, :email, include_blank: true %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>