<h1>Task#index</h1>
<p>Find me in app/views/task/index.html.erb</p>

<% if can? :edit, @tasks %>
  <%= link_to 'New task', new_task_path, class: 'btn btn-secondary mb-md-3' %>
<% end %>

<% if params[:status]%>
  <p>
    Tasks with status <%= params[:status]%>, <%= @tasks.size%> pcs.
  </p>
<% end %>

<table class="table">
  <tr>
    <th>title</th>
    <th>content</th>
    <th>comments</th>
    <th>status</th>
    <th>start_date</th>
    <th>due_date</th>
    <th>estimation</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.comments %></td>
      <td><%= task.status %></td>
      <td><%= task.start_date %></td>
      <td><%= task.due_date %></td>
      <td><%= task.estimation %></td>
      <td><%= task.created_at %></td>
      <td><%= task.updated_at %></td>
      <td><%= link_to 'Show', task_path(task), class: 'btn btn-primary' %></td>

      <% if can? :manage, @tasks %>
        <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-dark' %></td>
        <td><%= link_to 'Destroy', task_path(task), method: :delete,
                        data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      <% end %>
    </tr>
  <% end %>
</table>