<%= form_with model: @user, local: true do |user| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= user.label :email %><br>
    <%= user.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= user.label :first_name %><br>
    <%= user.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= user.label :last_name %><br>
    <%= user.text_field :last_name, class: 'form-control' %>
  </div>

  <% if can? :manage, user %>
    <div class="form-group">
      <%= user.label :admin %><br>
      <%= user.select :admin, User.admins.keys.to_a, {}, class: 'form-control' %>
    </div>
  <% end %>

  <p>
    <%= user.submit class: 'btn btn-primary' %>
  </p>

<% end %>