<table class="table">
  <tr>
    <th>email</th>
    <th>Admin</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= link_to 'Show', user_path(user), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>