<h1>Persons#index</h1>
<p>Find me in app/views/persons/index.html.erb</p>

<% if can? :manage, @users %>
  <%= link_to 'New users', new_person_path, class: "btn btn-secondary mb-md-3" %>
<% end %>

<table class="table">
  <tr>
    <th>email</th>
    <th>Role</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Password</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.encrypted_password %></td>

      <td>
        <a href="#" role="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%= user.id %>">Show</a>

        <div class="modal" id="modal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="container" style="background-color: white">
            <div class="modal-body">
              <%= render user %>
            </div>
            <div class="modal-footer">
              <% if can? :edit, user %>
                <%= link_to 'Edit', edit_person_path(user), class: 'btn btn-link' %> |
              <% end %>
              <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
        </div>
      </td>

      <% if can? :manage, @users %>
        <td><%= link_to 'Edit', edit_person_path(user), class: 'btn btn-dark' %></td>
        <td><%= link_to 'Destroy', person_path(user), method: :delete,
                        data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      <% end %>
    </tr>
  <% end %>

</table>