<h1>Persons#index</h1>
<p>Find me in app/views/persons/index.html.erb</p>

<% if can? :manage, @users %>
  <%= link_to 'New user', new_person_path, class: "btn btn-secondary" %>
<% end %>

<table class="table">
  <tr>
    <th>email</th>
    <th>Role</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Password</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
      <td><%= user.encrypted_password %></td>

      <td><%= link_to 'Show', person_path(user), class: 'btn btn-primary' %></td>

      <% if can? :manage, @users %>
        <td><%= link_to 'Edit', edit_person_path(user), class: 'btn btn-dark' %></td>
        <td><%= link_to 'Destroy', person_path(user), method: :delete,
                        data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      <% end %>
    </tr>
  <% end %>
</table>