<h2>Email</h2>
<%= @user.email %>

<h2>Admin</h2>
<%= @user.admin %>

<h2>First name</h2>
<%= @user.first_name %>

<h2>Last name</h2>
<%= @user.last_name %>

<h2>Created at</h2>
<%= @user.created_at %>

<h2>Updated at</h2>
<%= @user.updated_at %>

<h2>Password</h2>
<%= @user.encrypted_password %>

<br/>

<%= link_to 'Edit', edit_person_path(@user) %> |
<%= link_to 'Back', persons_path %>