<%= form_with model: @project, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :summary %><br>
    <%= form.text_area :summary %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>