<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<%= link_to 'New article', new_project_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th>Start date</th>
    <th>End date</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.summary %></td>
      <td><%= project.start_date %></td>
      <td><%= project.end_date %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project_path(project), method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>