<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<% if can? :manage, @projects %>
  <%= link_to 'New project', new_project_path %>
<% end %>
<p>
<h3>project_where_user_haven't_task</h3>
<table>
  <% @project_where_user_havnt_task.each do |value| %>
    <tr>
      <td><%= value %></td>
  <% end %>
</table>

<p>
  <%= @c_projects_with_task %> pcs. projects with tasks
</P>

<h2>Teams involved</h2>
<table>
  <% @teams_involved.each do |stat| %>
    <tr>
      <td><%= stat['name'] %></td>
  <% end %>
</table>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th>Start date</th>
    <th>End date</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.summary %></td>
      <td><%= project.start_date %></td>
      <td><%= project.end_date %></td>
      <td><%= link_to 'Show', project_path(project) %></td>

      <% if can? :manage, @projects %>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project_path(project), method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>