<!DOCTYPE html>
<html>
  <head>
    <title>SimpleJira</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li class="breadcrumb-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            <li class="breadcrumb-item"><%= link_to 'Profile', persons_profile_path, :class => "navbar-link" %></li>
            <li class="breadcrumb-item"><%= link_to 'Home', home_index_path, :class => "navbar-link" %></li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Projects', projects_path, :class => "navbar-link" %></li>
            <li class="breadcrumb-item"><%= link_to 'Teams', teams_path, :class => "navbar-link" %></li>
            <li class="breadcrumb-item"><%= link_to 'Users', persons_path, :class => "navbar-link" %></li>
            <li class="breadcrumb-item"><%= link_to 'Tasks', tasks_path, :class => "navbar-link" %></li>
            <li class="breadcrumb-item"><%= link_to 'Posts', posts_path, :class => "navbar-link" %></li>
            <li class="breadcrumb-item"><%= link_to 'Dashboard', reports_path, :class => "navbar-link" %></li>
          </ol>
        </nav>
      <% else %>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
            <li class="breadcrumb-item"><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
          </ol>
        </nav>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
